 Unknown
 Terminated
 SuccessfullyRemediated
 Benign
 Failed
 PartiallyRemediated
 Running
 PendingApproval
 PendingResource
 PartiallyInvestigated
 TerminatedByUser
 TerminatedBySystem
 Queued
 SuppressedAlert
 InnerFailure
 PreexistingAlert
 UnsupportedOs
 UnsupportedAlertType