Ransomeware activity
Low-reputation arbitrary code executed by signed executable
A suspicious file was detected
Suspicious PowerShell script was detected
Suspicious PowerShell script was executed
Suspicious service was executed
Suspicious Process was detected
Email reported by user as malware or phish